Etc/Samples/Test/Test.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema targetNamespace="http://simple.example.com/Test"
           xmlns="http://simple.example.com/Test"
           elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:simpleType name="SimpleType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="" />
          <xs:enumeration value="Auto" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:list>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="Value1" />
              <xs:enumeration value="Value2" />
              <xs:enumeration value="Value3" />
              <xs:enumeration value="Value4" />
            </xs:restriction>
          </xs:simpleType>
        </xs:list>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>

  <xs:simpleType name="SimpleType2">
    <xs:union memberTypes="xs:byte">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="" />
          <xs:enumeration value="Auto" />
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>

  <xs:simpleType name="SimpleType3">
    <xs:union memberTypes="xs:byte xs:string" />
  </xs:simpleType>

  <xs:simpleType name="SimpleType4">
    <xs:list itemType="xs:byte" />
  </xs:simpleType>

  <xs:simpleType name="SimpleType5">
    <xs:union memberTypes="SimpleType3 SimpleType4">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="" />
          <xs:enumeration value="Auto" />
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>

  <xs:simpleType name="SimpleType6">
    <xs:union>
      <xs:simpleType>
        <xs:union memberTypes="xs:byte xs:string" />
      </xs:simpleType>
      <xs:simpleType>
        <xs:list itemType="xs:byte" />
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>

  <xs:simpleType name="SimpleType7">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Auto" />
      <xs:enumeration value="Value1" />
      <xs:enumeration value="Value2" />
      <xs:enumeration value="Value3" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="SimpleType8">
    <xs:restriction base="SimpleType7">
      <xs:maxLength value="4" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="SimpleType9">
    <xs:list>
      <xs:simpleType>
        <xs:union memberTypes="xs:byte xs:string" />
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>

  <xs:complexType name="ComplexTypeWithSimpleTypes">
    <xs:attribute name="SimpleType">
      <xs:simpleType>
        <xs:union>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="" />
              <xs:enumeration value="Auto" />
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:list>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="Value1" />
                  <xs:enumeration value="Value2" />
                  <xs:enumeration value="Value3" />
                  <xs:enumeration value="Value4" />
                </xs:restriction>
              </xs:simpleType>
            </xs:list>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="SimpleType2">
      <xs:simpleType>
        <xs:union memberTypes="xs:byte">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="" />
              <xs:enumeration value="Auto" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="SimpleType3">
      <xs:simpleType>
        <xs:union memberTypes="xs:byte xs:string" />
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="SimpleType4">
      <xs:simpleType>
        <xs:list itemType="xs:byte" />
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="SimpleType5">
      <xs:simpleType>
        <xs:union memberTypes="SimpleType3 SimpleType4">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="" />
              <xs:enumeration value="Auto" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="SimpleType6">
      <xs:simpleType>
        <xs:union>
          <xs:simpleType>
            <xs:union memberTypes="xs:byte xs:string" />
          </xs:simpleType>
          <xs:simpleType>
            <xs:list itemType="xs:byte" />
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="SimpleType7">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Auto" />
          <xs:enumeration value="Value1" />
          <xs:enumeration value="Value2" />
          <xs:enumeration value="Value3" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="SimpleType8">
      <xs:simpleType>
        <xs:restriction base="SimpleType7">
          <xs:maxLength value="4" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="SimpleType9">
      <xs:simpleType>
        <xs:list>
          <xs:simpleType>
            <xs:union memberTypes="xs:byte xs:string" />
          </xs:simpleType>
        </xs:list>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="ComplexTypeWithElementAndAttributeReferences">
    <xs:choice>
      <xs:element ref="ComplexTypeElement" />
      <xs:element ref="SimpleComplexTypeElement" />
    </xs:choice>
    <xs:attribute ref="GlobalAtt" />
  </xs:complexType>

  <xs:complexType name="SimpleComplexType">
    <xs:simpleContent>
      <xs:extension base="SimpleType">
        <xs:attribute name="AttX" type="SimpleType" />
        <xs:attributeGroup ref="AttributeGroup" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:element name="SimpleComplexTypeElement" type="SimpleComplexType" />

  <xs:complexType name="ComplexType">
    <xs:group ref="ElementGroup" />
  </xs:complexType>

  <xs:element name="ComplexTypeElement" type="ComplexType" />

  <xs:group name="ElementGroup">
    <xs:sequence>
      <xs:element name="Element1" />
      <xs:element name="Element2" />
      <xs:element ref="GlobalElement" />
    </xs:sequence>
  </xs:group>

  <xs:attribute name="GlobalAtt" type="xs:string" />
  <xs:element name="GlobalElement" type="xs:string" />

  <xs:attributeGroup name="AttributeGroup">
    <xs:attribute name="Att2" type="xs:string" />
    <xs:attribute name="Att3" type="xs:string" />
    <xs:attribute ref="GlobalAtt" />
  </xs:attributeGroup>

  <xs:element name="Root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Node" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:choice>
              <xs:element name="GroupAlternative" />
              <xs:group ref="ElementGroup" />
            </xs:choice>
            <xs:attribute ref="GlobalAtt" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="Base">
    <xs:attribute name="Att1" type="xs:string" />
    <xs:attributeGroup ref="AttributeGroup" />
  </xs:complexType>

  <xs:complexType name="Derived1">
    <xs:complexContent>
      <xs:extension base="Base">
        <xs:choice>
          <xs:element name="D1Element1" minOccurs="0" maxOccurs="3" />
          <xs:element name="D1Element2" />
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Derived2">
    <xs:complexContent>
      <xs:extension base="Derived1">
        <xs:choice>
          <xs:element name="D2Element1" />
          <xs:element name="D2Element2" />
          <xs:element ref="GlobalElement" />
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Derived3">
    <xs:complexContent>
      <xs:restriction base="Derived2">
        <xs:sequence>
          <xs:choice>
            <xs:element name="D1Element1" minOccurs="0" maxOccurs="0" />
            <xs:element name="D1Element2" />
          </xs:choice>
          <xs:choice>
            <xs:element name="D2Element1" />
            <xs:element name="D2Element2" />
          </xs:choice>
        </xs:sequence>
        <xs:attribute name="Att1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="Value1"/>
              <xs:enumeration value="Value2"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Derived4">
    <xs:complexContent>
      <xs:restriction base="Derived3">
        <xs:sequence>
          <xs:choice>
            <xs:element name="D1Element2" />
          </xs:choice>
          <xs:choice>
            <xs:element name="D2Element1" />
            <xs:element name="D2Element2" />
          </xs:choice>
        </xs:sequence>
        <xs:attribute name="Att3">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="Value1"/>
              <xs:enumeration value="Value2"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="Base">
    <xs:complexType>
      <xs:attribute name="Att1" type="xs:string" />
      <xs:attributeGroup ref="AttributeGroup" />
    </xs:complexType>
  </xs:element>

  <xs:element name="Derived1">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="Base">
          <xs:choice>
            <xs:element name="D1Element1" />
            <xs:element name="D1Element2" />
          </xs:choice>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="Derived2">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="Derived1">
          <xs:choice>
            <xs:element name="D2Element1" />
            <xs:element name="D2Element2" />
            <xs:element ref="GlobalElement" />
          </xs:choice>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="Derived3">
    <xs:complexType>
      <xs:complexContent>
        <xs:restriction base="Derived2">
          <xs:sequence>
            <xs:choice>
              <xs:element name="D1Element1" />
              <xs:element name="D1Element2" />
            </xs:choice>
            <xs:choice>
              <xs:element name="D2Element1" />
              <xs:element name="D2Element2" />
            </xs:choice>
          </xs:sequence>
          <xs:attribute name="Att1">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="Value1"/>
                <xs:enumeration value="Value2"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="Derived4">
    <xs:complexType>
      <xs:complexContent>
        <xs:restriction base="Derived3">
          <xs:sequence>
            <xs:choice>
              <xs:element name="D1Element2" />
            </xs:choice>
            <xs:choice>
              <xs:element name="D2Element1" />
              <xs:element name="D2Element2" />
            </xs:choice>
          </xs:sequence>
          <xs:attribute name="Att3">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="Value1"/>
                <xs:enumeration value="Value2"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

</xs:schema>
