samples/CloneDetective/Schemas/clonereport.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://conqat.cs.tum.edu/ns/clonereport"
           xmlns="http://conqat.cs.tum.edu/ns/clonereport"
           xmlns:cd="http://conqat.cs.tum.edu/ns/clonereport"
           xmlns:sd="http://schemas.xsddoc.codeplex.com/schemaDoc/2009/3"
           xmlns:ddue="http://ddue.schemas.microsoft.com/authoring/2003/5"
           elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="cloneReport" id="cloneReport">
    <xs:annotation>
      <xs:documentation>
        The root element of a ConQAT clone report.
      </xs:documentation>
      <xs:appinfo>
        <sd:schemaDoc>
          <ddue:summary>
            <ddue:para>
              The root element of a ConQAT clone report (summary!)
            </ddue:para>
          </ddue:summary>
        </sd:schemaDoc>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="sourceFile" id="sourceFile" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>
              Describes a source file in which clone detective found at least one clone.
            </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:attribute name="id" id="sourceFileId" type="xs:int" use="required">
              <xs:annotation>
                <xs:documentation>
                  Contains a unique id of the source file. Used by a clone element to
                  reference the source file.
                </xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="path" type="xs:string" use="required">
              <xs:annotation>
                <xs:documentation>
                  Contains the fully qualified path of the file. The exact syntax is
                  depending on the platform clone detective has been executed on.
                </xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="length" type="xs:int" use="required">
              <xs:annotation>
                <xs:documentation>
                  Contains the number of lines (i.e. lines of code, LOC) of the source
                  file.
                </xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="fingerprint" type="xs:string" use="required">
              <xs:annotation>
                <xs:documentation>
                  Contains a fingerprint (i.e. a hash) of the source file.
                </xs:documentation>
              </xs:annotation>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element name="cloneClass" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>
              Describes a clone class found by clone detective. A clone class represents
              a piece of code that is duplicated. A clone on the other hand represents such
              a duplicate. Therefore a clone class contains all its clones.
            </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="values" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>
                    Contains a list of key value pairs associated with the clone
                    class.
                  </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="value" minOccurs="0" maxOccurs="unbounded">
                      <xs:annotation>
                        <xs:documentation>
                          Represents a key value pair associated with a clone
                          class.
                        </xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:attribute name="key" type="xs:string" use="required">
                          <xs:annotation>
                            <xs:documentation>
                              Contains a unique key to identify a value
                              associated with a clone class.
                            </xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="value" type="xs:string" use="required">
                          <xs:annotation>
                            <xs:documentation>
                              Contains a value associated with a clone class.
                            </xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="type" type="xs:string" use="required">
                          <xs:annotation>
                            <xs:documentation>
                              Contains a type description of the value.
                            </xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="clone" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>
                    Represents a region of duplicated source code.
                  </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute name="sourceFileId" type="xs:int" use="required">
                    <xs:annotation>
                      <xs:documentation>
                        Contains the id the source file the clone is contained id.
                      </xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="startLine" type="xs:int" use="required">
                    <xs:annotation>
                      <xs:documentation>
                        Contains the zero-based line number this clone starts.
                      </xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="lineCount" type="xs:int" use="required">
                    <xs:annotation>
                      <xs:documentation>
                        Contains the number of line of this clone.
                      </xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="startUnitIndexInFile" type="xs:int" use="required">
                    <xs:annotation>
                      <xs:documentation>
                        For internal use only.
                      </xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="lengthInUnits" type="xs:int" use="required">
                    <xs:annotation>
                      <xs:documentation>
                        For internal use only.
                      </xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="deltaInUnits" type="xs:int" use="optional">
                    <xs:annotation>
                      <xs:documentation>
                        For internal use only.
                      </xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="gaps" type="xs:string" use="required">
                    <xs:annotation>
                      <xs:documentation>
                        For internal use only.
                      </xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="fingerprint" type="xs:string" use="required">
                    <xs:annotation>
                      <xs:documentation>
                        Contains a fingerprint (i.e. a hash) of this clone.
                      </xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="fingerprint" type="xs:string" use="required">
              <xs:annotation>
                <xs:documentation>
                  Contains a fingerprint (i.e. a hash) of this clone class.
                </xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="normalizedLength" type="xs:int" use="required">
              <xs:annotation>
                <xs:documentation>
                  For internal use only.
                </xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="id" type="xs:int" use="required">
              <xs:annotation>
                <xs:documentation>
                  Contains a unique id for this clone class.
                </xs:documentation>
              </xs:annotation>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
    <xs:unique name="sourceFileUnique">
      <xs:selector xpath="cd:sourceFile" />
      <xs:field xpath="@id" />
    </xs:unique>
    <xs:key name="sourceFileKey">
      <xs:annotation>
        <xs:documentation>
          This key ensures that every source file has a non-null unique id.
          The id must be unique across the whole clone report.
        </xs:documentation>
      </xs:annotation>
      <xs:selector xpath="cd:sourceFile" />
      <xs:field xpath="@id" />
    </xs:key>
    <xs:key name="cloneClassKey">
      <xs:annotation>
        <xs:documentation>
          This key ensures that every clone class has a non-null unique id.
          The id must be unique across the whole clone report.
        </xs:documentation>
      </xs:annotation>
      <xs:selector xpath="cd:cloneClass" />
      <xs:field xpath="@id" />
    </xs:key>
    <xs:keyref name="cloneToSourceFile" refer="sourceFileKey">
      <xs:annotation>
        <xs:documentation>
          This ensures that every clone has a valid reference to source file.
        </xs:documentation>
      </xs:annotation>
      <xs:selector xpath="cd:cloneClass/cd:clone" />
      <xs:field xpath="@sourceFileId" />
    </xs:keyref>
  </xs:element>
</xs:schema>